#block-fonnaglavnuyu {
  height: 700px;

  .field--name-body {
    margin-top: 300px;
    font-size: 62px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: 300;
  }
}